<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat-room</title>
  </head>
  <body>
    <h1>Online Chatroom</h1>
    <main>
      <section>
        <!-- messages -->
        <ul id="messages"></ul>
      </section>

      <form action="" id="submitForm">
        <input
          id="inputField"
          type="text"
          autocomplete="off"
          placeholder="Enter your message"
        />
        <button type="submit">stuur</button>
      </form>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
